<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->

<script>
  $('.ui.embed').embed();
</script>

   {% if site.comments %}
     <div id="gitalk-container"></div>
   {% endif %}
  


<script>
const gitalk = new Gitalk({
    clientID: '{{ site.comments.gitment.clientId }}',
    clientSecret: '{{ site.comments.gitment.clientSecret }}',
    id: '{{ page.title }}',
    owner: 'Happy-Ferret',
    repo: 'Happy-Ferret.github.io.Comments',
    admin: ['Happy-Ferret']
});
gitalk.render(document.getElementById('gitalk-container'));
</script>
