---
layout: essays
---

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date_to_string }}</span>
  <hr>
  {{ content }}
</div>

<ul class="photo-gallery">
  {% for image in page.images %}
    <li><img src="{{ image.image_path }}" alt="{{ image.title}}" class="ui medium floated rounded image materialboxed"/></li>
  {% endfor %}
</ul>

   {% if page.comments and site.comments and site.comments.gitment %}
     <div id="gitment-comments"></div>
   {% endif %}

<script>
const gitment = new Gitment({
    id: '<%= page.title.replace(/[^\w\s]/gi, '').substring(0, 49) %>',
    owner: 'Happy-Ferret',
    repo: 'Happy-Ferret.github.io.Comments',
    oauth: {
        client_id: '<%= theme.comments.gitment.clientId %>',
        client_secret: '<%= theme.comments.gitment.clientSecret %>'
    }
});
gitment.render(document.getElementById('gitment-comments'));
</script>
